<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" th:href="@{../static/styles.css}">
    <link rel="stylesheet" th:href="@{../static/footer.css}">
    <link rel="stylesheet" th:href="@{../static/booklist.css}">
    <script th:src="@{/sidebar.js}"></script>
</head>
<body>
<div>
    <div th:insert="~{fragments :: header}"></div>
    <h1>My books</h1>
    <table border="1">
    <thead>
    <tr>
        <th>cover</th>
        <th>title</th>
        <th>author</th>
        <th>avg. rating</th>
        <th>rating</th>
        <th>shelves</th>
        <th>review</th>
        <th>date read</th>
        <th>date added</th>
    </tr>

    </thead>
        <tbody>
        <tr th:each="userBook : ${userBooks}">
            <td><img th:src="@{${userBook.book.cover}}" alt="Book Cover" /></td>
            <td th:text="${userBook.book.title}"></td>
            <td th:text="${userBook.book.author}"></td>
            <td th:text="${userBook.book.avgRating}"></td>
            <td th:text="${userBook.book.rating}"></td>
            <td th:text="${userBook.book.shelves}"></td>
            <td th:text="${userBook.book.review}"></td>
            <td th:text="${userBook.book.dateRead}"></td>
            <td th:text="${userBook.book.dateAdded}"></td>
        </tr>

        </tbody>
    </table>



</div>
</body>
</html>
