<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" th:href="@{../static/styles.css}">
    <link rel="stylesheet" th:href="@{../static/footer.css}">

</head>
<body>
<div th:insert="~{fragments :: header}"></div>

<header th:fragment="header">
    <nav class="navbar">
        <span>&#9776;</span>
        <h1><a href="Hovedside.html">BetterReads</a></h1>
        <div class="sidebar">
            <ul class="menu">
                <li><a href="Hovedside.html">Home</a></li>
                <li><a href="">My Books</a></li>
                <li><a href="">Browse</a></li>
            </ul>
            <search class="searchbar-nav">
                <form>
                    <select aria-label="Search Filter Navbar" id="searchTypeNav">
                        <option value="books">Books</option>
                        <option value="authors">Authors</option>
                    </select>
                    <input aria-label="navsearch" id="navsearch" type="search" name="search" placeholder="Search...">
                </form>
            </search>
        </div>
        <a href="Signup.html">Register</a>
        <a href="Login.html">Login</a>
    </nav>
</header>

    <h1>My books</h1>
    <table border="1">
    <thead>
    <tr>
        <th>cover</th>
        <th>title</th>
        <th>author</th>
        <th>avg. rating</th>
        <th>rating</th>
        <th>shelves</th>
        <th>review</th>
        <th>date read</th>
        <th>date added</th>
    </tr>

    </thead>
        <tbody>
        <tr th:each="userBook : ${userBooks}">
            <td th:text="${userBook.book.cover}"></td>
            <td th:text="${userBook.book.title}"></td>
            <td th:text="${userBook.book.author}"></td>
            <td th:text="${userBook.book.avgRating}"></td>
            <td th:text="${userBook.book.rating}"></td>
            <td th:text="${userBook.book.shelves}"></td>
            <td th:text="${userBook.book.review}"></td>
            <td th:text="${userBook.book.dateRead}"></td>
            <td th:text="${userBook.book.dateAdded}"></td>
        </tr>
        </tbody>
    </table>




</body>
</html>
