<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/signup.css}">
</head>
<body>

<header class="signup-header">
    <h1 id="header">
        <a th:href="@{/}">
            <span class="skinny">better</span><span class="fat">reads</span>
        </a>
    </h1>
    <hr></header>
<div class="container">
    <h2>Sign up</h2>

    <div class="error" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/signup}" th:object="${user}" method="post">

        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" th:field="*{username}" placeholder="Enter username..."/>
            <div th:if="${#fields.hasErrors('username')}">
                <span th:errors="*{username}"></span>
            </div>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" th:field="*{email}" placeholder="Enter email..."/>
            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                <span th:errors="*{email}"></span>
            </div>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" th:field="*{password}" placeholder="Enter password..."/>

        </div>
        <div class="input-group">
            <label for="rptPassword">Repeat Password:</label>
            <input type="password" name="repeatPassword" id="rptPassword" th:field="*{repeatPassword}" placeholder="Re-enter password..."/>
        </div>
        <button type="submit">Sign up</button>
        <p>By creating an account, you agree to the BetterReads Terms of Service and Privacy Policy</p>
        <p><a th:href="@{/login}">Already have an account? Sign in</a></p>
    </form>
</div>

</body>
</html>
